* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hero-section {
  height: 100vh;
  padding-top: 15rem;
  background-color: transparent;
  z-index: -1;
}
.hero-section .flex-hero {
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.hero-section .flex-hero h1 {
  font-size: 65px;
  font-weight: 900;
}
.text-gradient {
  background: linear-gradient(45deg, #4a628a 2.34%, #b9e5e8 100.78%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-section h4 {
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  padding: 12px 14rem;
  color: #969ba5;
}

.hero-section .button {
  padding: 0.7rem 2rem;
  border-radius: 25px;
  background-color: #4a628a;
  color: #fff;
  border: 1px solid transparent;
  width: 15%;
  margin-top: 15px;
}

.hero-section div:nth-child(2) {
  margin-top: 4rem;
}

.hero-section .image {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  line-height: 1.3;
  margin: 15px 0;
}

button {
  transition: all 0.5s ease-in-out;
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.button:hover {
  transform: scale(0.98);
}
