* {
  font-family: "Josefin Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-box {
  background: #b9e5e834;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.075);
  text-align: center;
  width: 280px;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

p {
  font-size: 14px;
  color: #555;
}

a {
  color: #4a628a;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-control {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  box-sizing: border-box;
  outline: none;
}

.form-control:focus {
  border-color: #4a628a;
  box-shadow: 0px 0px 5px rgba(33, 144, 255, 0.5);
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #4a628a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #39588d;
}

.forgot-password {
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
}
